.main-header {
    display: flex;
    flex-wrap: wrap;
  }
  
  .container-projects {
    display: flex;
    flex-wrap: wrap;
  }
  

  @media screen and (min-width: 319px) {
    .main-header .header-logo {
      width: 30%;
      order: -1;
    }
  
    .main-header .header-title-content {
      width: 70%;
      order: 0;
    }

    .project .project-title {
      font-size: 20px;
      font-weight: normal;
    }
  }
  

  @media screen and (min-width: 452px) and (max-width: 648px) {
    .project {
      text-align: center;
    }
  }
  

  @media screen and (min-width: 549px) {
    .header-logo .site-logo {
      height: 59px;
      width: 59px;
      margin-left: 5px;
    }

    .header-title-content h3 {
      font-size: 16px;
      margin-top: 0;
    }
  
    .header-title-content h1 {
      font-size: 34px;
    }
  
    .featured-header-title {
      font-size: 24px;
    }
    
    .project .project-title {
      font-size: 21px;
      font-weight: normal;
    }
  }
  
  
  @media screen and (min-width: 649px) {
    .header-title-content h3 {
      margin-top: 0;
    }

    .project {
      width: 32%;
    }
  
    .project a {
      font-size: 14px;
    }
  
    .project-two {
      margin-right: auto;
      margin-left: auto;
    }
  }
  
  
  @media screen and (min-width: 850px) {
    .content,
    .main-header,
    .container-projects,
    .main-wrapper footer {
      width: 850px;
      margin-left: auto;
      margin-right: auto;
    }

    .main-wrapper footer {
      left: 0;
      right: 0;
      margin: 0 auto;
    } 
  }
   