.header {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 334px) {
  .header-logo {
    width: 50%;
    order: -1;
  }

  .header-title-content {
    width: 50%;
    order: 0;
  }
}
