.header {
  display: flex;
  flex-wrap: wrap;
}

.container-projects {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 334px) {
  .header-logo {
    width: 50%;
    order: -1;
  }

  .header-title-content {
    width: 50%;
    order: 0;
  }
}

@media screen and (min-width: 680px) {
  .box {
    width: 33%;
  }

  .project-name a {
    font-size: 12px;
  }
}

@media screen and (min-width: 900px) {
  .wrapper {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}
}
