body, html {
  /* margin: 0;
  padding: 0; */
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Hind Madurai', sans-serif;
}

/* h1, h2, h3 {
  margin: 0;
} */
 .wrapper {
   width: 100%;
   display: grid;
   grid-template-rows: "header" "line ""container-image" "header-featured" "container-projects"
   /* grid-template-areas: "header" "hr" "container-image" "header-featured" "container-projects"; */
 }
 img {
   max-width: 100%;
 }

 .header {
   width: 100%;
   display: flex;
   grid-area: header;
 }


 .header-logo {
   width: 56px;
   height: 56px;
   /* margin-right: 16px;
   margin-top: 12px; */
 }

 .header-title-content {
   display: flex;
   width: 100%;
 }

 .header-title {

   font-weight: normal;
   font-size: 32px;
   text-transform: uppercase;
   /* margin: 0.5em 0.25em; */
   /* text-align: end; */
   color: #2d3c49;
 }

 .header-description {
   /* max-width: 100%; */
   font-size: 16px;
   text-transform: uppercase;
   /* margin: 0.5em 0.25em; */
   color: #2d3c49;
   /* text-align: end; */
 }

 hr {
   width: 100%;
   height: 4px;
   color: #7d97ad;
   background-color: #7d97ad;
   border: none;
   margin-top: 0;
   margin-bottom: 16px;
 }

 .container-image {
   /* width: 100%; */
   position: relative;
   /* height: 900px; */
   margin-left: auto;
   margin-right: auto;
 }

 .big-image {
   /* width: 100%; */
   /* max-width: 100%; */
 }

 .header-featured {
   /* width: 100%; */
 }
 .second-header-title {
   /* width: 100%; */
   color: #7d97ad;
   font-size: 20px;
   margin-bottom: 8px;
   margin-left: 5px;
 }

 .container-projects {
   /* width: 100%; */
 }

 .box {
   width: 100%;
 }

 .project-image {
   max-width: 70%;
 }

 .project-name {
   width: 70%;
   text-transform: uppercase;
   font-size: 18px;
   text-align: center;
   margin-top: 0;
   margin-bottom: 1.5em;
 }

 .project-name a {
   width: 100%;
   font-size: 16px;
   text-decoration: none;
   color: #2d3c49;
   text-transform: none;
   display: block;
   margin-top: 1em;
   /* text-overflow: ellipsis;
   white-space: nowrap;
   overflow: hidden; */
 }
