body {
    text-align: center;
}

h1 {
    font-family: Monoton;
    font-size: 68px;
    margin: 0.2em 0.2em 0 0.2em;
}

h2 {
    margin: 0.7em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0;
}

h2:last-of-type {
    margin-top: 0.4em;
}

table,
tr,
td {
    border: 1px solid black;
    background-color: #fff;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 16px;
}

td {
    width: 16px;
}

input[type=number] {
    width: 6em;
}

.bigBox {
    display: flex;
    justify-content: center;
}

.box {
    display: flex;
    align-items: center;
    margin-top: 0.9em;
}

.legendLabel {
    width: 90px;
}

.tables {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50px;
}

.emptyDiv {
    width: 90px;
}

p {
    font-size: 17px;
}

.arrows {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 57px;
    width: 40px;
}

.arrow {
    width: 21px;
}

.cell {
    background-color: #000;
}
