body {
    text-align: center;
}

h1 {
    font-family: Monoton;
    font-size: 50px;
    margin: 0 0.2em 0 0.2em;
}

h2 {
    margin: 0.7em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0;
}

h2:last-of-type {
    margin-top: 0.4em;
}

table,
tr,
td {
    border: 1px solid black;
    background-color: #fff;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 16px;
}

td {
    width: 16px;
}

input[type=number] {
    width: 5em;
    height: 1.3em;
    font-size: 18px;
    border: 1px solid;
    margin-right: 8px;
}

.send-form {
    font-size: 18px;
}

#size_picker {
    font-size: 18px;
    font-weight: 600;
}

.big-box {
    display: flex;
    justify-content: center;
}

.box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 0.7em;
}

.legend-label {
    width: 90px;
}

.tables {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 45px;
}

.empty-div {
    width: 90px;
}

.legend-label {
    font-size: 18px;
    font-weight: 600;
}

.arrows {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 52px;
    width: 40px;
}

.arrow {
    width: 21px;
}

.table-cell {
    background-color: #000;
}


/* Media Queries */

@media screen and (max-width: 410px) {
    .send-form,
    input[type=number],
    #size_picker,
    .legend-label {
        font-size: 12.5px;
    }

    h1 {
        font-size: 21px;  
    }

    h2 {
        font-size: 16px;
    }

    input[type=number] {
        width: 3.2em;
        margin-right: 3px;
    }

    .table-cell,
    .table-row {
        width: 13px;
    }

    .legend-label {
        width: 60px;
        margin-left: 30px;
    }

    .arrows {
        height: 45px;
        width: 30px;
    }

    .arrow {
        width: 18px;
    }
}


@media screen and (min-width: 411px) and (max-width: 660px) {
    h1 {
        font-size: 31px;  
    }
}


@media screen and (min-width: 661px) and (max-width: 1023px) {
    h1 {
        font-size: 40px;  
    } 
}


@media screen and (min-width: 411px) and (max-width: 767px) {
    .send-form,
    input[type=number],
    #size_picker,
    .legend-label {
        font-size: 15px;
    }
    
    h2 {
        font-size: 21px;
    }

    input[type=number] {
        width: 4em;
    }
}
