body {
    text-align: center;
}

h1 {
    font-family: Monoton;
    font-size: 50px;
    margin: 0 0.2em 0 0.2em;
}

h2 {
    margin: 0.7em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0;
}

h2:last-of-type {
    margin-top: 0.4em;
}

table,
tr,
td {
    border: 1px solid black;
    background-color: #fff;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 16px;
}

td {
    width: 16px;
}

input[type=number] {
    width: 5em;
    height: 1.3em;
    font-size: 18px;
    border: 1px solid;
    margin-right: 8px;
}

.submit {
    font-size: 18px;
}

#sizePicker {
    font-size: 18px;
    font-weight: 600;
}

.bigBox {
    display: flex;
    justify-content: center;
}

.box {
    display: flex;
    align-items: center;
    margin-top: 0.7em;
}

.legendLabel {
    width: 90px;
}

.tables {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 45px;
}

.emptyDiv {
    width: 90px;
}

p {
    font-size: 18px;
    font-weight: 600;
}

.arrows {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 52px;
    width: 40px;
}

.arrow {
    width: 21px;
}

.cell {
    background-color: #000;
}
